<div class="header">
  <mat-icon>menu</mat-icon>
  <div class="context-name">Context _ name</div>
  <div class="context-type">Context type</div>

  <mat-button-toggle-group>
    <mat-button-toggle class="split-button">Create workspace</mat-button-toggle>
    <mat-button-toggle
      class="split-button drop-down-button"
      [matMenuTriggerFor]="dropdownMenuOne"
    >
      <mat-icon>arrow_drop_down</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-menu #dropdownMenuOne="matMenu" xPosition="before">
    <button mat-menu-item>One</button>
    <button mat-menu-item>Two</button>
    <button mat-menu-item>Three</button>
  </mat-menu>

  <button mat-icon-button style="margin-left: auto">
    <mat-icon class="material-icons-outlined">search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="material-icons-outlined">bookmark</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon
      matBadge="15"
      matBadgeColor="primary"
      (click)="toggleBadgeVisibility()"
      [matBadgeHidden]="hidden"
      class="material-icons-outlined"
      >notifications</mat-icon
    >
  </button>
  <button mat-icon-button>
    <mat-icon style="font-size: 40px" class="material-icons-outlined"
      >person_pin</mat-icon
    >
  </button>
</div>
