<div fxLayout="row" style="min-height: 100vh">
  <app-sidebar fxFlex="0 0 64px"></app-sidebar>
  <div fxLayout="column" style="min-width: calc(100vw - 64px)">
    <div fxLayout="row" fxLayoutAlign="start center">
      <app-header fxFlex="0 0 100%"></app-header>
    </div>
    <div fxLayout="row" class="main">
      <div fxLayout="column" class="tree">Tree</div>
      <div fxLayout="column" class="content">
        <div><h1>Welcome нツяк!</h1></div>
        <div>
          <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
          <mat-slider
            min="1"
            max="100"
            step="1"
            value="50"
            color="primary"
          ></mat-slider>
        </div>

        <form class="example-form">
          <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" [disabled]="true" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" [required]="true" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Outline form field</mat-label>
              <input
                matInput
                placeholder="Placeholder"
                [required]="true"
                errorState="always"
              />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Expansion</mat-label>
              <mat-select>
                <mat-option value="option">Classic</mat-option>
                <mat-option value="option">Burning Crusade</mat-option>
                <mat-option value="option">Warth of the Lich King</mat-option>
                <mat-option value="option">Cataclysm</mat-option>
                <mat-option value="option">Mists of Pandaria</mat-option>
                <mat-option value="option">Warlords of Draenor</mat-option>
                <mat-option value="option">Legion</mat-option>
                <mat-option value="option">Battle for Azeroth</mat-option>
                <mat-option value="option">Shadowlands</mat-option>
                <mat-option value="option">Dragonflight</mat-option>
              </mat-select>
              <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Expansion</mat-label>
              <mat-select [disabled]="true">
                <mat-option value="option">Classic</mat-option>
                <mat-option value="option">Burning Crusade</mat-option>
                <mat-option value="option">Warth of the Lich King</mat-option>
                <mat-option value="option">Cataclysm</mat-option>
                <mat-option value="option">Mists of Pandaria</mat-option>
                <mat-option value="option">Warlords of Draenor</mat-option>
                <mat-option value="option">Legion</mat-option>
                <mat-option value="option">Battle for Azeroth</mat-option>
                <mat-option value="option">Shadowlands</mat-option>
                <mat-option value="option">Dragonflight</mat-option>
              </mat-select>
              <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field
              appearance="outline"
              floatLabel="always"
              style="width: 100%"
            >
              <mat-label>Amount</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
              />
              <span matPrefix>€&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              floatLabel="always"
              style="width: 100%"
            >
              <mat-label>Amount</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                [disabled]="true"
              />
              <span matPrefix>€&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Textarea</mat-label>
              <textarea matInput [disabled]="true"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" [disabled]="true" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
