<div class="sidebar">
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">donut_large</mat-icon>
      <div class="sidebar-nav-desc">Overview</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">details1</mat-icon>
      <div class="sidebar-nav-desc">Details</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">analytics</mat-icon>
      <div class="sidebar-nav-desc">Plan</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">list_alt</mat-icon>
      <div class="sidebar-nav-desc">Lists</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">table_view</mat-icon>
      <div class="sidebar-nav-desc">Grid</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">event_available</mat-icon>
      <div class="sidebar-nav-desc">To-dos</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">cloud</mat-icon>
      <div class="sidebar-nav-desc">Assets</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">calculate</mat-icon>
      <div class="sidebar-nav-desc">Costs</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">network_check</mat-icon>
      <div class="sidebar-nav-desc">Cockpit</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">dashboard</mat-icon>
      <div class="sidebar-nav-desc">Dashboard</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">supervisor_account</mat-icon>
      <div class="sidebar-nav-desc">Team</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">pie_chart</mat-icon>
      <div class="sidebar-nav-desc">Reports</div>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">more_horiz</mat-icon>
    </button>
    <button mat-icon-button style="position: absolute; bottom: 16px">
      <mat-icon class="material-icons-outlined">settings</mat-icon>
      <div class="sidebar-nav-desc">Settings</div>
    </button>
  </mat-toolbar>
</div>
